
<div name="AddItemBX" class="additembx">
    <div class="koodiinputcontainer" style="margin-top: 45px;">
        <div class="item-title item-label koodiinputlabel">Name</div>
        <div class="item-input-wrap">
            <input id="name" type="text" placeholder="" class="koodiinput">
            <span class="input-clear-button"></span>
        </div>
    </div>
    <div class="koodiinputcontainer" style="margin-top: 45px;">
        <input id="submit" type="button" class="koodiinput" style="background: #d4d4d4;color: black !important;border: none !important;border-radius: 15px;" value="Add Item">
    </div>
</div>