
<div name="UserDetail" class="loginbx">
    <div class="koodiinputcontainer" style="margin-top: 45px;">
            <div class="item-title item-label koodiinputlabel">Account</div>
            <div class="item-input-wrap">
                <input id="email" type="text" placeholder="" class="koodiinput">
                <span class="input-clear-button"></span>
            </div>
    </div>

    <div class="koodiinputcontainer" style="margin-top: 45px;">
        <div class="item-title item-label koodiinputlabel">Username</div>
        <div class="item-input-wrap">
            <input id="username" type="text" placeholder="" class="koodiinput" >
            <span class="input-clear-button"></span>
        </div>
    </div>

    <div class="koodiinputcontainer" style="margin-top: 45px;">
        <div class="item-title item-label koodiinputlabel">Password</div>
        <div class="item-input-wrap">
            <input id="password" type="password" placeholder="" class="koodiinput">
            <span class="input-clear-button"></span>
        </div>
    </div>

    <div class="koodiinputcontainer" style="margin-top: 45px;">
        <div class="item-title item-label koodiinputlabel">Remember me</div>
        <div class="item-input-wrap">
        <label class="checkbox"><input id="remember" type="checkbox" {this.state.checked}><i class="icon-checkbox"></i></label>
        </div>
    </div>

    <div class="koodiinputcontainer" style="margin-top: 45px;">
        <input id="submit" type="button" class="koodiinput" style="background: #d4d4d4;color: black !important;border: none !important;border-radius: 15px;" value="Login">
    </div>
</div>